:root {
    --bg-color: rgb(24, 26, 27);
    --bg-color-o: rgba(34, 49, 44, 0.76);
    --shade-color: rgba(0, 0, 0, 0.5);

    --font-color: rgb(220, 220, 220);
    --about-font-color: rgb(255, 255, 255);
    --nav-bar-height: 2.5em;
    --font-size-mobile: 20px;
    --font-size-tablet: 20px;
    --font-size-desktop: 35px;

    --text-margin-mobile: 2vw;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--bg-color);
    display: grid;
    font-size: var(--font-size-mobile);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

h1,
h2,
p {
    margin-left: var(--text-margin-mobile);
    margin-right: var(--text-margin-mobile);
    text-align: center;
}

/* nav > ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
} */

header {
    position: fixed;
    z-index: 9999999;
    border-bottom: 2px solid var(--bg-color-o);
    width: 100%;
    background-color: var(--bg-color);
    height: var(--nav-bar-height);
}

nav label.navbar-toggle {
    height: var(--nav-bar-height);
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

#chkToggle {
    display: none;
}

#chkToggle:checked+#main-nav {
    /* display: grid; */
    opacity: 1;
    visibility: visible;
}

#chkToggle:checked+#main-nav:last-child {
    border-bottom: 2px solid var(--bg-color-o);
}

#main-nav {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    display: grid;
    background-color: var(--bg-color);
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);

    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in-out 0.2s;
}

#main-nav>li {
    margin: 1.5em;
    border-bottom: 1px solid var(--font-color);
}

.md-18 {
    font-size: 18px;
}

.md-24 {
    font-size: 24px;
}

.md-36 {
    font-size: 36px;
}

.md-48 {
    font-size: 48px;
}

section:first-of-type {
    margin-top: var(--nav-bar-height);
}

#about {
    position: relative;
    background-image: url('../img/about-bg.jpg');
    background-size: cover;
}

#about .shade {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--shade-color);
}

#about .about-content {
    position: relative;
    z-index: 2;
    color: var(--about-font-color);
}

#projects div.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    margin: 5vw;
    justify-content: space-evenly;
    gap: 2vh;
}

#projects div.project-box {
    border: 2px solid var(--bg-color-o);
}

#projects div.project-box-img {
    border-bottom: 2px solid var(--bg-color-o);
}

#projects div.project-box-img img {
    display: block;
    width: 100%;
}

#projects div.project-box-caption {
    text-align: center;
    padding: 1em 2em;
}

#contact div.social-network-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
}

#contact div.social-network-container div.social-network-box {
    text-align: center;
}